body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  text-align: center;
}

.slide {
  background: grey;
  align-content: center;
}

.title {
  background: #E3E2E1;
}

.timer {
  background: #46C1F7;
  align-content: center;
  padding: 4px;
  
}

.todo {
  background: #AFACAB;

}

.header{
  text-align: left;;
}


.slider {
  flex: 6;
  -webkit-appearance: none; 
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #efefef;
  outline: none;
}


.value {
  flex: 1;
  font-size: 3rem;

}

.caloreRojo{
  color: red;
}